<div ng-controller="billingController">
  <div ng-include="'views/navbar.html'"></div>
  <div class="main-panel fill">
    <div class="row" style="margin-top: 150px;">
      <div class="col-md-2"></div>
      <div class="col-md-8 vertical-center">
        <div class="content">
          <div class="container-fluid fill">
            <div class="card">
              <div class="header">
                <h4 class="title">Billing</h4>
              </div>
              <div class="content">
                Your current billed amount is $<div ng-model="bill"></div>.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright pull-right">
          ©
          <script>
          document.write(new Date().getFullYear())

          </script>2017, made with <i class="ti-heart"></i> by Exceptionals
        </div>
      </div>
    </footer>
  </div>
</div>
