<div ng-controller="paymentController">
  <div ng-include="'views/navbar.html'"></div>
  <div class="main-panel">
    <style>
    .fill {
      min-height: 100%;
      height: 100%;
    }

    </style>
    <div class="content">
      <div class="container-fluid fill">
        <div class="card">
          <div class="header">
            <h4 class="title">Complete your profile</h4>
          </div>
          <div class="content">
            <form>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control border-input" placeholder="Name" ng-value="session.displayName">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control border-input" placeholder="Email" ng-value="session.email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Your PIN</label>
                    <input type="password" class="form-control border-input" placeholder="PIN" ng-value="session.totp">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-info btn-fill btn-wd">Let's do this!</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
