<div ng-controller="speeddialController">
  <div ng-include="'views/navbar.html'"></div>
  <style>
  .fill {
    max-height: 100%;
    height: 800px;
  }

  </style>
  <div class="main-panel fill">
    <div class="row" style="margin-top: 150px;">
      <div class="col-md-2"></div>
      <div class="col-md-8 vertical-center">
        <div class="content">
          <div class="container-fluid fill">
            <div class="card">
              <div class="header">
                <h4 class="title">Speed Dial</h4>
              </div>
              <div class="content">
                <form name="profile" ng-submit="updateSpeedDial()">
                  <div class="row text-center">
                    <div class="col-md-4" ng-model="dial[n]" ng-repeat="(number, vals) in dial track by $index">
                      <div class="form-group" style="border: 1px solid #e5e5e5; padding: 10px; border-radius: 3px;">
                        <div style="position: absolute; top: 11px; right: 13px; color:red;" ng-click="deleteContact(number)"><i class="ti-close"></i></div>
                        <label>{{number}}</label>
                        <input type="text" name="{{vals.name}}" id="{{vals.name}}" name="Name" placeholder="Name" class="form-control border-input" >
                        <br />
                        <input type="text" name="{{vals.speed_number_prefix}}" id="{{vals.speed_number_prefix}}" name="Phone Number" placeholder="+91XXXXXXXXXX" class="form-control border-input">
                      </div>
                    </div>
                  </div>
                  
                  <button type="submit" class="btn btn-info btn-fill btn-wd">Update Speed Dial</button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright pull-right">
          ©
          <script>
          document.write(new Date().getFullYear())

          </script>2017, made with <i class="ti-heart"></i> by Exceptionals
        </div>
      </div>
    </footer>
  </div>
</div>
